# Data directories
data/
logs/
output/
webapp/output

# Individual data files
*.qs
*.qs2
*.h5
*.csv
*.tsv
*.rds
*.RData
*.json
!webapp/*.json
!studies.json

# Logs and temporary files
*.log
server.log
.Rhistory
.Rproj.user
.DS_Store

# Web development
node_modules/
